ul li{
    list-style: none;
}
.aside .main-course{
    background-color: rgb(222, 191, 251);
    /* position: fixed; */
    /* left: 200px; */
}
.course-item{
    background-color: rgb(94, 44, 97);
}

.main-course{
    background-color: rgb(222, 191, 251);
}