
.team-thumb .social-icon {
    border-top: 1px solid #f0f0f0;
    padding: 4px 20px 0 20px;
}

.team-thumb .social-icon li a {
    background: #ffffff;
    color: #252020;
}

.team-info h3 {
    margin: 0;
}