.bgLight{
    /* background-color: #81b5ae; */
    background-color: rgba(203,229,217,255);
}
.logo {
    color: #2A766C;
}
.item:hover{
    color:white;
    background-color: #2A766C;
    border-radius: 8px;
}
.item:hover a{
    color:white;
}